.carousel .carousel-item {
    height: 560px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: "cover";
      top: 0;
      left: 0;
      min-height:700px;
      filter:brightness(40%);
  }
 
  .carousel-item {
    transition: transform 1s ease-in-out;
  }
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 1s;
  }
  .carousel-caption {
    
    text-align: center;
    max-width: 100%;
    bottom:40%;
    top:50%;
 }

 @media screen and (max-width: 700px) {
    .carousel-caption {    
        text-align: center;
        max-width: 100%;
        bottom: 50%;
        top:40%;
     }
    
}


/* 
 .wave{
  position:absolute;
  bottom:2;
  left:0;
  width:100%;
} */