.navbar {
    /* position: fixed; */
    top: 0; 
    width: 100%;
}
.navbar-brand{
    border:none;
}

/*============== Menu====================*/
.menu{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.nav-item{
    margin-right:30px;   
}
 .nav-link{
    text-decoration:none;
    color:black; 
}
.nav-link:hover{
    text-decoration:underline;
    text-underline-offset:10px;
    text-decoration-thickness:5px;
    text-decoration-color:var(--color-secondary); 
    transition:0.5s;
    transition-timing-function:ease-in-out;
    transform:scaleX(1.05);
    color:black; 
}
.nav-item.dropdown-mega:hover .dropdown-menu {
    display: flex;
    justify-content:center;
    left:0;   
  }
.nav-item.dropdown-mega .dropdown-menu{
    width:100%;
    margin-top:0;
    max-height:675px;
    overflow-y: scroll;      
}
.mega-content h5{
    color:var(--color-default);
  }
  .mega-content h5:hover{
    color:var(--color-default);
    translate:5px 5px 15px;
    transition:.5s ease;
    text-decoration:underline;
    text-decoration-color: var(--color-secondary);
    text-underline-offset:5px;
    text-decoration-thickness:4px ;
  }



.list-group-item{
    background-color:rgb(118, 115, 115);
    color:white;
      
}
.list-group-item:hover{
    background-color:rgb(68, 63, 63);
    font-weight: 500;  
    text-decoration:underline;
    text-decoration-color: var(--color-secondary); 
    text-underline-offset:5px;
    text-decoration-thickness:4px ;
   
}

/*============== Search Button ====================*/
.search{
    position:relative;
    margin-right: 75px;
}
.search input{
    width:750px;
    height:50px;
    border-radius: 20px;

}
.search button{
    position:absolute;  
    left:690px;
    top:5px;
    border:0;
    }
    @media screen and (max-width: 1200px) {
        .search button{
            position:absolute;
            left:230px;
            top:5px;
            border:0;
            }

    }


/*============== button group:login,signup and cart ====================*/

.login button{
    margin-right:3px;
    font-size:16px;
    background-color: var(--color-blue);
  
}
@media screen and (max-width: 350px) {

    .login button{
        margin-right:-15px;
        font-size:14px;        
    }


}

/*============== mega dropdown list-group ================*/

.list-group{
    max-height: 240px;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}



/*============= offcanvas ==============*/
.offcanvas-body{
    background-color:none;
}

.offcanvas-header{
    background-color: var(--color-default);
    color:white;
}
.offcanvas-header h5{
    text-decoration:underline;
    text-decoration-color:var(--color-secondary);
    text-underline-offset:5px;
    text-decoration-thickness:2px;

}
.btn-close{
    background-color:white;
}

@media screen and (max-width: 1200px) {
    .offcanvas-body{
        background-color:lightgray ;
    }
} 
.navbar-toggler i{
    font-size: 32px;
    }

/* .navbar-toggler{
    background-color:lightgray;
    color:none;
}
.navbar-toggler-icon{
   color: var(--color-secondary);
} */